.loader {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
