:root {
  --text-dark: #222;
  --bg-light: #f9f9f4;
}


/* Griglia eventi */
.eventi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0 ;
  justify-items: center;
}