.pagenotfound-wrapper {
  width: 100%;
  padding: 5rem 8%;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--text-dark);
}


/* Titolo */
.pagenotfound-title {
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: var(--root-color);
  /* border-left: 6px solid var(--root-color);
  padding-left: 1rem; */
}

.pagenotfound-content {
    text-align: center;
}